<div class="users">
  <h1>Usuarios</h1>
  <div class="users-list" *ngIf="users">
    <div class="user" *ngFor="let user of users">
      <h2>{{ user.name }}</h2>
      <div class="line"></div>
      <p>{{ user.email }}</p>
      <div class="line"></div>
      <button (click)="openLocation(user.address.geo.lat, user.address.geo.lng)">Ver Ubicación <i class="fa-solid fa-location-dot"></i></button>
      <div class="line"></div>
      <button (click)="goToUserTasks(user)">Ver Tareas <i class="fa-solid fa-list"></i></button>

    </div>


</div>
