/* -------------------------------------------------------------------------- */
/* Navbar Principal                                                           */
/* -------------------------------------------------------------------------- */
.navbar {
  background-color: #2d2d2d;
  color: white;
  height: 80px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;

  img{
    position: absolute;
    /* height: 100%; */
    filter: invert(1);
    opacity: 0.1;
    z-index: 1;
    top: -3%;

  }


  &.expanded {
    height: 100vh;

    a {
      transition: height 0.5s ease-in-out;
      font-size: 2rem !important;
    }
  }

  /* ------------------------------------------------------------------------ */
  /* Contenedor Interno del Navbar                                            */
  /* ------------------------------------------------------------------------ */
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-content: center;
  }

  /* ------------------------------------------------------------------------ */
  /* Enlaces de Navegación                                                    */
  /* ------------------------------------------------------------------------ */
  .nav-links {
    margin: 0 !important;
    list-style: none;
    display: flex;
    gap: 1rem;
    width: 60%;
    padding: 0;
    justify-content: space-around;

    li {
      width: 33%;
      text-align: center;

      a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 100;

        &:hover,
        &.active {
          background-image: linear-gradient(
            to right,
            #ff004c42 0,
            rgba(255, 0, 76, 0.26) 100%
          );
          background-repeat: no-repeat;
          background-position: bottom left;
          animation: expandBackground 1s forwards;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Animación del Subrayado                                              */
/* -------------------------------------------------------------------------- */
@keyframes expandBackground {
  from {
    background-size: 0 30%;
  }
  to {
    background-size: 100% 30%;
  }
}



/* -------------------------------------------------------------------------- */
/* Créditos                                              */
/* -------------------------------------------------------------------------- */

span{
  top: 80%;
  position: absolute;
  color: #444;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  display: block;
  animation: fadeIn 1s forwards;
}




/* -------------------------------------------------------------------------- */
/* Responsive                                                                 */
/* -------------------------------------------------------------------------- */


@media(max-width: 900px){

  .expanded{


  .nav-links{
    flex-direction: column;
    align-items: center;
    height: 50%;

    li{
      width: 100%;
    }
  }

}

.navbar .nav-links{
  width: 80%;
}

}
